html{
    margin: 0;
    padding: 0;
    width: 100vw;
}

body {
    padding: 1%;
    width: 100%;
    color: azure;
    background-color: green;
}

.table-responsive-max-height {
    max-height: 50vh;
    overflow-y: auto;
}
.max-height{
    justify-content: center;
    max-height: 75vh;
    width: 100%;
}
footer {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
}